body {
  margin: 0px;
  overflow: hidden;
}

rect {
  fill: steelblue;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 2.7em;
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  font-size: 5em;
  fill: #8e8883;
}

.title {
  font-size: 3.2em;
  fill: #635f5d;
}
